.DrawPile {
  border: solid white 10px;
  border-radius: 10%;
  width: 250px;
  height: 350px;
  margin: 50px auto;
}

.DrawPile-button {
  background-color: darkred;
  border: solid darkred 2px;
  border-radius: 10px;
  color: white;
  height: 90px;
  width: 200px;
  margin: 50px;
  font-size: 1.5rem;
}

.DrawPile-empty {
  display: inline-block;  
  background-color: orange;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: bold;
  height: 90px;
  width: 250px;
  margin: 50px auto;
}

.DrawPile-button:hover {
  cursor: pointer;
  font-size: 2rem;
  border: solid maroon 2px;
  width: 250px;
  background-color: maroon;
  transition: 100ms;
}